# Data Science mini-project

Given the information from the previous section, you should be equipped to read data from formats such as JSON, CSV files, etc. into pandas dataframes. Dataframes allow us to analyze and interpret large amounts of data. For this mini-project, we'll be looking at data from a website called kaggle.com. Kaggle is a pretty awesome resource for all things data science, as they host public datasets, competitiheons, and tutorials. Their competitions tend to dea, with solving real-world problems, for example, they're currently running a competition for determining ways to deal with Los Angeles' hiring crisis as their workforce retires (https://www.kaggle.com/c/data-science-for-good-city-of-los-angeles), and one for using news to predict stock prices (https://www.kaggle.com/c/two-sigma-financial-news).

For today's mini-project, we are going to look at a dataset fom Kaggle, and using Pandas to structure, visualize, and interpret it. 

Because we want to recognize that not everyone will be interested in the same topics, we want to leave this project open-ended. In this example, we'll take a look at a CSV file pertaining to the success of different climbing routes on Mount Rainier, but, if this sounds boring or unappealing, we encourage you to search around and find a different dataset. 

# Our Goal

Our goal is to look at the data from previous Mt Rainier climbs, and use it to determine which route is the safest. While this may sound trivial, we should note that the data is separated by year. So, one route may have had a 100% success rate one year, despite not being the safest. 

# Bonus
How could we adjust our results to control for weather variation? We have access to the weather during each year.



# Getting Started

The data files should be available in the Github repo. However, if they are not, here's a link to the CSV file(s) we'll be using (https://www.kaggle.com/codersree/mount-rainier-weather-and-climbing-data). For our mini-project, we'll only be looking at the climbing statistics for the base project, and the weather data for the bonus. Our first step will be to load the data in from the CSV, into a dataframe.

In [23]:
import pandas as pd
import numpy as np

dataframe = pd.read_csv('climbing_statistics.csv')
dataframe

,Date,Route,Attempted,Succeeded,Success Percentage
0,11/27/2015,Disappointment Cleaver,2,0,0.000000
1,11/21/2015,Disappointment Cleaver,3,0,0.000000
2,10/15/2015,Disappointment Cleaver,2,0,0.000000
3,10/13/2015,Little Tahoma,8,0,0.000000
4,10/9/2015,Disappointment Cleaver,2,0,0.000000
5,10/3/2015,Disappointment Cleaver,10,0,0.000000
6,10/3/2015,Disappointment Cleaver,2,0,0.000000
7,10/2/2015,Kautz Glacier,2,0,0.000000
8,10/2/2015,Disappointment Cleaver,2,0,0.000000
9,9/30/2015,Disappointment Cleaver,2,0,0.000000
10,9/28/2015,Disappointment Cleaver,12,4,0.333333
11,9/27/2015,Disappointment Cleaver,12,6,0.500000
12,9/26/2015,Disappointment Cleaver,2,0,0.000000
13,9/26/2015,Disappointment Cleaver,12,3,0.250000
14,9/26/2015,Disappointment Cleaver,3,0,0.000000
15,9/25/2015,Disappointment Cleaver,12,9,0.750000
16,9/25/2015,Disappointment Cleaver,11,6,0.545455
17,9/24/2015,Disappointment Cleaver,10,0,0.000000
18,9/24/2015,Disappointment Cleaver,11,1,0.090909
19,9/23/2015,Disappointment Cleaver,12,0,0.000000
20,9/22/2015,Disappointment Cleaver,3,0,0.000000
21,9/21/2015,Disappointment Cleaver,2,0,0.000000
22,9/21/2015,Disappointment Cleaver,2,0,0.000000
23,9/21/2015,Disappointment Cleaver,11,0,0.000000
24,9/21/2015,Disappointment Cleaver,8,0,0.000000
25,9/21/2015,Disappointment Cleaver,10,9,0.900000
26,9/20/2015,Disappointment Cleaver,3,0,0.000000
27,9/20/2015,Disappointment Cleaver,12,7,0.583333
28,9/20/2015,Disappointment Cleaver,12,0,0.000000
29,9/20/2015,Disappointment Cleaver,11,0,0.000000
...,...,...,...,...,...
4047,3/10/2014,Disappointment Cleaver,8,6,0.750000
4048,2/28/2014,Disappointment Cleaver,2,0,0.000000
4049,2/22/2014,Disappointment Cleaver,5,0,0.000000
4050,2/10/2014,Disappointment Cleaver,8,0,0.000000
4051,2/10/2014,Disappointment Cleaver,8,0,0.000000
4052,2/5/2014,Gibralter Ledges,3,0,0.000000
4053,2/1/2014,Ingraham Direct,2,0,0.000000
4054,1/26/2014,Gibralter Ledges,2,2,1.000000
4055,1/25/2014,Ingraham Direct,4,0,0.000000
4056,1/25/2014,Gibralter Ledges,2,0,0.000000
4057,1/25/2014,Gibralter Ledges,2,0,0.000000
4058,1/25/2014,Ingraham Direct,4,0,0.000000
4059,1/25/2014,Ingraham Direct,2,2,1.000000
4060,1/24/2014,Ingraham Direct,2,0,0.000000
4061,1/24/2014,Gibralter Ledges,2,2,1.000000
4062,1/24/2014,Gibralter Ledges,1,0,0.000000
4063,1/24/2014,Gibralter Ledges,2,2,1.000000
4064,1/24/2014,Gibralter Ledges,2,2,1.000000
4065,1/24/2014,Gibralter Ledges,2,0,0.000000
4066,1/23/2014,Little Tahoma,2,0,0.000000
4067,1/20/2014,Fuhrer's Finger,2,0,0.000000
4068,1/19/2014,Gibralter Ledges,2,0,0.000000
4069,1/18/2014,Gibralter Ledges,2,0,0.000000
4070,1/18/2014,Gibralter Ledges,4,4,1.000000
4071,1/18/2014,Gibralter Ledges,2,0,0.000000
4072,1/16/2014,Little Tahoma,2,0,0.000000
4073,1/6/2014,Disappointment Cleaver,8,0,0.000000
4074,1/6/2014,Disappointment Cleaver,8,0,0.000000
4075,1/5/2014,Disappointment Cleaver,2,0,0.000000
4076,1/4/2014,Gibralter Ledges,3,2,0.666667

# Challenge

Here's some information that we can ascertain easily with numpy/pandas. Can you figure out how to determine: 

1. How many possible routes are there?
2. How much time has elapsed between the first and last recorded climb attempts?
3. During what year were there the most climb attempts?

(Hint: look into .filter(), .groupBy(), and regex)
(Hint 2: there's a function called DatetimeIndex in pandas)

# Moving Along

Hopefully you were able to answer the above questions, if not, here's a code snippet to answer question 3.

In [24]:
import pandas as pd
import numpy as np

dataframe = pd.read_csv('climbing_statistics.csv')

# gets year with the most climb attempts
dataframe['Year'] = pd.DatetimeIndex(dataframe['Date']).year
groups = dataframe.groupby(['Year'])['Attempted'].agg('sum')
print(groups)

Year
2014    10926
2015    10027
Name: Attempted, dtype: int64

# Safest Route
So, we want to aggregate the number of successes / attempts for each result to determine which is the safest. We'll need to use many of the functions we used above in the Challenge section. Because we walked through the previous problems together, we won't attach the code to solve this problem. However, HackBU organizers will be happy to help out if you're struggling.

Here are some steps that should point you in the right direction:

1. Split the data into N separate routes.
2. Sum the number of attempts for each route.
3. Sum the number of successes for each route.
4. Divide the number of attempts by the number of successes for each.
5. Find the highest value from step 4.


(Hint: Steps 2 and 3 can be consolidated into one. Can any other steps be consolidated too?)

# Result

If you've successfully found the safest route, you should have determined that the safest route is one of the above:
<br><br><br>
A. Ptarmigan RIngraham Directge <br>
B. Gibralter Ledges<br>
C. Wilson Headwall<br>
D. Tahoma Cleaver<br>

# Correct Answer, Bonus, and Next Steps

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

The correct answer is Tahoma Cleaver, with a success rate of 100%. It's important to note that we didn't control
for the number of attempts, so this could have impacted our results. Is there any way that we could control for attempts, 
say, to only look at routes that have been attempted at least ~50 times?

# Bonus

Controlling for any variables that may have impacted our findings is extremely important. That's why determining whether
or not the weather conditions at a certain time may have affected our results. Using the weather data CSV file, how can 
we adjust or confirm our results such that they haven't been affected by varying weather conditions?