Pandas

# What is Pandas?

**Pandas** is a Python libraries which high-performance, easy to use structures and data analysis tools.


## Why are they useful?
Pandas provides a 2D table object called **DataFrame**, which is like a spreadsheet with column names and row labels.
With these 2D tables, Pandas is capable of functionality like creating pivot tables, computing columns based on other columns, and plotting graphs.

## Importing 

Pandas can be imported into Python using:

In [0]:
import pandas as pd

## Objects

#### ***Series*** objects
* 1D array, similar to a column in a spreadsheet

Pandas Series object is created with the *pd.Series* function. Each row is provided with an index and are assigned numerical values starting from 0. Like NumPy, Pandas also provide the basic mathematical functionalities like addition, subtraction and conditional operations and broadcasting.

In [44]:
import pandas as pd

year_series = pd.Series([1984, 1985, 1992],
                   index=["barbara", "alice", "charles"],
                   name="year")
year_series

barbara    1984
alice      1985
charles    1992
Name: year, dtype: int64

#### ***DataFrame*** objects
* 2D table, similar to a spreadsheet

Pandas DataFrame object represents a spreadsheet with cell values, column names, and row index labels. DataFrame can be visualized as dictionaries of Series. Pandas also provide SQL-like functionality to filter, sort rows based on conditions.

Here is an example of a dictionary of Series objects used to create a DataFrame object and display as a spreadsheet:

In [40]:
import pandas as pd

people_dict = { "weight": pd.Series([68, 83, 112],
                                    index=["alice", "barbara", "charles"]),
               "birthyear": pd.Series([1984, 1985, 1992],
                                      index=["barbara", "alice", "charles"],
                                      name="year"),
               "children": pd.Series([0, 3],
                                     index=["charles", "barbara"]),
               "hobby": pd.Series(["Biking", "Dancing"],
                                  index=["alice", "barbara"]),}


people = pd.DataFrame(people_dict)
people


# we can un-comment this line to filter the DataFrame to only display people
# who were born before 1990

# people[people["birthyear"] < 1990]

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
barbara      83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

DataFrames can be sorted by a particular column and have new rows and columns added to it.
Dataframes can also be easily exported and imported from CSV, Excel, JSON, HTML and SQL database.

Some other essential methods that are present in dataframes are:

* ***head()***: returns the top 5 rows in the dataframe object
* ***tail()***: returns the bottom 5 rows in the dataframe
* ***info()***: prints the summary of the dataframe
* ***describe()***: gives a nice overview of the main aggregated values over each column

## Afterward

Pandas DataFrames makes importing and analyzing data much easier, to assist with data analysis.